extends layout

block content
  h1= title
  p Yelp API Calls & Queries
  ul
  each business in businesses
    li= business.name_information + "\t" + business.phone + "\t"
    img(src=business.imgur, class=extraclass, alt="Placeholder")


